.MainDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/* Hero section */
.hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}

